<ion-view view-title="信人社" hide-back-button="true">
    <ion-content>
        <ion-slide-box>
            <ion-slide ng-repeat="banner in dataObj.bannerList">
                <a ng-click="go(banner)" class="item-image"><img class="index-banner" ng-src="{{dataObj.host + banner.picture}}"></a>
            </ion-slide>
        </ion-slide-box>

        <section class="lmqd">
            <div>
                <a href="#/tab/card/sendtip"><img src="img/icon_pchome.png"></a>
                <a href="#/tab/search"><img src="img/icon_geitaji.png"></a>
                <a href="#/tab/switch"><img src="img/icon_huji.png"></a>
                <a href="#/tab/joint"><img src="img/icon_lianm.png"></a>
            </div>
            <div>
                <a href="#/tab/sign"><img src="img/icon_qiandao.png"></a>
                <a href="#/tab/expand"><img src="img/icon_tuig.png"></a>
                <a href="#/tab/feedback"><img src="img/icon_yijian.png"></a>
                <a href="#/tab/tips/shouce"><img src="img/icon_shouce.png"></a>
            </div>
        </section>

        <a class="home-race" href="#/tab/sign/king"><img src="img/icon_background.png"></a>
        <a class="home-race" href="#/tab/expand/king"><img src="img/icon_background1.png"></a>

    </ion-content>
</ion-view>
