<ion-view title="私信" cache-view="false">
    <ion-nav-buttons side="right">
        <a href="#/user/message/{{userId}}/setting" class="button buttons button-clear header-item"><i class="icon ion-ios-more"></i></a>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div class="chat-tip">留言非即时消息</div>

        <div class="chat-item padding {{msg.isMe ? 'chat-right' : ''}}" ng-repeat="msg in dataList">
            <img class="avatar" ng-src="{{msg.avatar}}" ng-if="!msg.isMe">
            <div>
                {{msg.content}}
                <img class="full" ng-src="{{msg.picture}}" ng-if="msg.picture">
            </div>
            <img class="avatar" ng-src="{{msg.avatar}}" ng-if="msg.isMe">
        </div>

        <ion-infinite-scroll
            ng-if="!noMoreData"
            icon="ion-loading-c"
            on-infinite="initList()" distance="10%">
        </ion-infinite-scroll>
    </ion-content>

    <div class="post-replay" ng-style="replyStyle">
        <div class="item item-input-inset theme-reply">
            <a class="btn-image icon ion-image" ng-click="upload()"></a>
            <label class="item-input-wrapper">
                <input type="text" class="full" ng-model="messageRepModel.content" placeholder="输入您想说的话" ng-blur="inputBlur()">
            </label>
            <button class="button button-small button-positive" ng-click="replay()">回复</button>
        </div>
    </div>
</ion-view>
