<ion-view title="留言设置">
    <ion-content has-header="true">
        <ul class="list">
            <li class="item item-toggle">
                不再接受此人信息
                <label class="toggle toggle-balanced" ng-click="toBlack()">
                    <input type="checkbox" ng-model="dataModel.isBlack">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>