<ion-view title="资料设置">
    <ion-content has-header="true">
        <div class="user-avatar">
            <img ng-src="{{userModel.avatar}}" ng-click="takePicture()">
        </div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">昵称</span>
                <input ng-model="userModel.nickname" type="text" placeholder="请输入昵称">
            </label>
            <label class="item item-input">
                <span class="input-label">性别</span>
                <select ng-model="userModel.gender">
                    <option selected>男</option>
                    <option>女</option>
                </select>
                <span class="warn-tip">选择后不可修改</span>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="next()">下一步</button>
        </div>

        <!--拍照-->
        <input id="takepicture" type="file" accept="image/*" capture="camera" style="display: none">
    </ion-content>
</ion-view>