<ion-view title="编辑资料">
    <ion-content has-header="true">
        <div class="avatar-container user-info-avatar" >
            <img style="width:80px;height:80px" ng-src={{corpModel.avatar}} ng-click="takePic()">
            <span class="ion-compose edit-avatar-btn" data-pack="default" data-tags="write, compose, type"></span>
        </div>

        <div class="content user-info-list ionic-pseudo">
            <div class="list">
                <div class="item item-input">
                    <span  class="input-label">社团名称</span>
                    <input type="text" maxlength="30" ng-model="corpModel.name" >
                </div>
<!--                 <div class="item item-icon-right">
                    <span  class="input-label">地点</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </div> -->
            </div>
        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="save()">保存修改</button>
        </div>
        <!--拍照-->
        <input id="takepicture" type="file" accept="image/*" capture="camera" style="display: none">
    </ion-content>
</ion-view>