/* Empty. Add your own CSS if you like */
body{
    /*font-size: 62.5%;*/
}
.button.button-positive{
    background: #ff8c9b;
}
.button.button-positive.activated, .button.button-positive.activate{
    background: #ff8c9b;
}
[nav-bar-transition=ios] [nav-bar=entering] .bar, [nav-bar-transition=ios] [nav-bar=active] .bar{
    background: #ff8c9b;
}
.bar.bar-stable .title{
    color: #fff;
    background: #ff8c9b;
}
.bar-stable .button.button-clear{
    color: #fff;
}
.item{
    border-color: #f1f1f1;
}
a.item{
    /*color: #e2e2e2;*/
}



.home-container{
    max-width: 640px;
    margin: 0 auto;
}
.home-container img{
    max-width: 100%;
    width: 100%;
}
.home-card{
    background: url(../img/home_1.jpg) no-repeat;
    background-size: 100%;
    min-height: 210px;
    overflow: hidden;
}
/*.home-card div{
    background: rgba(239, 108, 126, 0.9);
    width: 80%;
    height: 64px;
    margin: 60px auto;
    overflow: hidden;
}*/
.home-card a{
    display: block;
    width: 80%;
    margin: 50px auto;
}
.home-send{
    background: url(../img/home_2.jpg) no-repeat;
    background-size: 100%;
    min-height: 370px;
    margin-top: 30px;
    overflow: hidden;
}
.home-send div{
    width: 80%;
    margin: 43% auto 0;
}
.home-send a{
    display: block;
    background: #f04357;
    width: 200px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 40px;
    border: solid 1px #fff;
    text-align: center;
    margin: 10px auto 0;
}
.home-send label{
    color: #fff;
    font-size: 1.3rem;
}
.button-code{
    background: #fff;
    border: solid 1px #dadada;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 0 15px;
    line-height: 30px;
    color: #fc8d96;
}
.full{
    width: 100%;
    max-width: 100%;
}
.avatar-container{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}
.avatar-container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.avatar-container span, .avatar-container label{
    display: block;
    color: #fff;
}
.avatar-container span{
    font-size: 1rem;
}
.avatar-container label{
    font-size: 0.8rem;
}
.user-avatar{
    text-align: center;
    padding: 20px 0 50px;
}
.user-avatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.warn-tip{
    background: #fccfd4;
    color: #fff;
    font-size: 0.8rem;
    margin-left: 20px;
    padding: 0 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.home-send .home-avatar{
    width: 20px;
    height: 20px;
}
.common-link a {
    font-size: 12px;
}
.send-userinfo p{
    width: 80%;
    margin: 0 auto;
    line-height: 60px;
    font-size: 16px;
}