<ion-view title="互寄" hide-back-button="true">
    <ion-nav-buttons side="left">
        <a href="#/home" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i> 
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button buttons button-clear header-item" href="#/switch/photos/"><i class="icon ion-camera" style="color:#ff8c9b"></i></a>
    </ion-nav-buttons>
    <ion-content style="background:#f6f6f6">
        <a href="#/switch/card/{{p.id}}" class="switch-card-item" ng-repeat="p in dataList">
            <img ng-src="{{p.picture}}" class="full">
            <p>{{p.requirement}}</p>
            <div class="tag">
                <span ng-repeat="tag in p.theme_name">{{tag}}</span>
            </div>
        </a>

        <ion-infinite-scroll
            ng-if="!noMoreData"
            icon="ion-loading-c"
            on-infinite="initList()" distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>