<ion-view title="互寄" hide-back-button="true" cache-view="false">
    <ion-content style="background:#f6f6f6">
        
        <a href="#/switch/card/{{p.id}}" class="switch-card-item" ng-repeat="p in themeList.publishList">
            <img ng-src="{{themeList.host + p.picture}}" class="full">

            <div>
                <span class="name">{{p.username}}</span>
                <span class="address">{{p.province + p.city}}</span>
            </div>

            <p>要求：{{p.requirement}}</p>

            <div>
                <span><i class="ion ion-ios-personadd-outline"></i>&nbsp; {{p.apply_count}}人</span>
                <span><i class="ion ion-ios-clock-outline"></i>&nbsp; {{p.deadline}}小时</span>
            </div>  
        </a>

    </ion-content>
</ion-view>
