<ion-view title="互寄相册" cache-view="false">
    <ion-nav-buttons side="right">
        <a href="#/switch/upload" ng-if="pagetype !== 'select'" class="button">上传照片</a>
    </ion-nav-buttons>
    <ion-content has-header="true" style="background:#f2f2f2" has-bouncing="true">
        <div class="button-bar" ng-if="pagetype !== 'select'">
            <a class="button {{loadtype === 1 ? 'button-positivehover' : ''}}" ng-click="initList(1)">相册</a>
            <a class="button {{loadtype === 2 ? 'button-positivehover' : ''}}" ng-click="initList(2)">互寄列表</a>
            <a class="button {{loadtype === 3 ? 'button-positivehover' : ''}}" ng-click="initList(3)">我的申请</a>
        </div>

        <div class="list photo-list">
            <div class="item" ng-repeat="p in dataList" ng-if="loadtype === 1">
                <div><img ng-src="{{p.picture}}" class="full"></div>
                <div class="item">
                    <button ng-if="pagetype!=='select' && loadtype === 1" class="button button-positive button-small" ng-click="send(p)">发起互寄</button>
                    <button ng-if="pagetype!=='select' && loadtype === 1" class="button button-positive button-small" ng-click="delete(p)">删除</button>
                </div>

                <div class="item item-input-inset" ng-if="pagetype === 'select'">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="switchModel.note" placeholder="请输入你想说的话">
                    </label>
                    <button class="button button-positive button-small" ng-click="select(p)">选这张</button>
                </div>
                
                <div class="tip-container" ng-if="loadtype === 2 || loadtype === 3">
                    <span>{{p.theme}}</span><br>
                    <span><i class="ion ion-ios-clock-outline"></i> {{p.deadline}}小时</span>
                </div>
            </div>

            <a class="item" ng-repeat="p in dataList" ng-if="loadtype === 2" href="#/switch/card/{{p.id}}">
                <div><img ng-src="{{p.picture}}" class="full"></div>
                <div class="tip-container" ng-if="loadtype === 2 || loadtype === 3">
                    <span>{{p.theme}}</span><br>
                    <span><i class="ion ion-ios-clock-outline"></i> {{p.deadline}}小时</span>
                </div>
            </a>

            <a class="item" ng-repeat="p in dataList" ng-if="loadtype === 3">
                <div><img ng-src="{{p.picture}}" class="full"></div>
                <div class="tip-container" ng-if="loadtype === 2 || loadtype === 3">
                    <span>{{p.theme}}</span><br>
                    <span><i class="ion ion-ios-clock-outline"></i> {{p.deadline}}小时</span>
                </div>
            </a>

        </div>

        <div ng-if="!showTip && pagetype !== 'select'">
            <h4 class="tip">暂时还没有数据哦～</h4>
        </div>

        <div ng-if="!showTip && pagetype === 'select'">
            <h4 class="tip">请先在个人中心－互寄相册 中上传明信片正面照～</h4>
        </div>

        <ion-infinite-scroll
            ng-if="!noMoreData"
            icon="ion-loading-c"
            on-infinite="initList()" distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>