<ion-view title="写片小能手工作室">
    <ion-nav-buttons side="right">
        <a href="#/tab/tipsdetail/2/baodian" class="button">宝典</a>
    </ion-nav-buttons>
    <ion-content has-header="true" style="background:#f6f6f6;">
        <div>
            <img src="img/wd_1.jpg" class="full">
            <div class="writer-info">
                <label>写片小能手：{{postObj.username}}</label>
                <label>已认领／任务总量：{{postObj.takeOverCount}} / {{postObj.totalTaskCount}}</label>
                <label>等待寄出／旅行中／旅行结束：{{postObj.waitSendCount}} / {{postObj.travleCount}} / {{postObj.completeCount}}</label>
            </div>
        </div>

        <div class="writer-tip">
            <span>&nbsp;&nbsp;总量 <b>{{taskObj.taskList.length}}</b></span>
            <button ng-click="refresh()">刷新</button>
        </div>


        <div class="list">
            <div class="item writer-item" ng-repeat="t in taskObj.taskList">
                <section>
                    <a href="#/tab/user/view/{{t.recipient_uid}}"><img ng-src="{{taskObj.host + t.avatar}}"></a>
                    <div>
                        <span>{{t.username}}</span>
                        <span>{{t.province}} {{t.city}}</span>
                    </div>
                    <button ng-click="write(t)">我来写</button>
                </section>
                <section>
                    <span>来自：{{t.origin}}</span>
                    <span>{{t.create_at}}</span>
                </section>
            </div>
        </div>

    </ion-content>
</ion-view>
