<ion-list class="list">
  <ion-item class="item item-thumbnail-left" href="#" ng-repeat="activity in activityList">
    <img ng-src="{{host+activity.propaganda_pic}}">
    <img class="hasCadge" ng-if="activity.joined" src="./img/ysp_1.png"/>
    <div>
      <h2 ng-bind="activity.name"></h2>
      <p>主办方：{{activity.corporation_name}}</p>
      <p><span><span class="ion-ios-clock-outline" data-pack="ios" data-tags="time, date, hours, minutes, seconds, watch"></span>{{activity.activity_time}}</span>&nbsp;<span><span class="ion-ios-location-outline" data-pack="ios" data-tags="navigation, map, gps, pin"></span>{{activity.addr_city}}</span> &nbsp;<span><b>{{activity.cadge_count}}</b>索片</span></p>
    </div>
  </ion-item>
  <div ng-show="noCurentData">以下为历史活动</div>
  <ion-item class="item item-thumbnail-left" href="#" ng-repeat="activity in historyActivityList">
    <img ng-src="{{host+activity.propaganda_pic}}">
    <div>
      <h2 ng-bind="activity.name"></h2>
      <p>主办方：{{activity.corporation_name}}</p>
      <p><span><span class="ion-ios-clock-outline" data-pack="ios" data-tags="time, date, hours, minutes, seconds, watch"></span>{{activity.activity_time}}</span>&nbsp;<span><span class="ion-ios-location-outline" data-pack="ios" data-tags="navigation, map, gps, pin"></span>{{activity.addr_city}}</span> &nbsp;<span><b>{{activity.cadge_count}}</b>索片</span></p>
    </div>
  </ion-item>
</ion-list>
<div class="bottom" ng-show="noData">
  没有更多
</div>

<ion-infinite-scroll
  on-infinite="loadMoreData()" distance="5%" ng-if="hasMore">
</ion-infinite-scroll>

