<ion-view title="{{pageTitle}}">
    <ion-content has-header="true" has-bouncing="true">
        <section class="card-item">
            <div class="header receive-header">
                <i class="badgex" ng-if="card.order_type === 1"><img src="img/icon_gtj.png"></i>
                <i class="badgex" ng-if="card.order_type === 2"><img src="img/icon_hj.png"></i>
                <i class="badgex" ng-if="card.order_type === 3"><img src="img/icon_pc.png"></i>
                <i class="badgex" ng-if="card.order_type === 4"><img src="img/icon_lm.png"></i>
                <i class="badgex" ng-if="card.order_type === 5"><img src="img/icon_fl.png"></i>

                <span>{{card.order_number}}</span>
            </div>
            <ul class="card-detail" ng-if="!card.order_warning">
                <li>
                    <a href="#/user/view/{{card.send_uid}}"><img class="avatar" ng-src="{{card.sender_avatar || card.corporation_avatar}}"></a>
                    <span>{{card.sender_username}}</span>
                </li>
                <li><img class="zj" src="img/icon_hujitb.png"></li>
                <li>
                    <a href="#/user/view/{{card.recipient_uid}}"><img class="avatar" ng-src="{{card.host + card.recipient_avatar}}"></a>
                    <span>{{card.consignee_username}}</span>
                </li>
            </ul>

            <div class="card-bottom" ng-if="!card.order_warning">
                <div><img ng-src="{{card.picture}}"></div>
                <div><img ng-src="{{card.host + card.recipient_picture}}"></div>
            </div>

            <div class="footer" ng-if="card.order_warning">
                <section class="left">
                    <img class="avatar" ng-src="{{card.sender_avatar}}">
                </section>
                <section class="center">
                    <span>{{card.sender_username}}</span>
                    <span>{{card.sender_sex ==1? '男':'女'}}</span>
                    <span class="address">{{card.sender_province + card.sender_city}}</span>
                </section>
                <section class="right">
                    <img ng-src="{{card.picture}}">
                </section>
            </div>

            <div class="card-tip" ng-if="card.order_warning">
                <div>追踪原因</div>
                <p>{{card.warning_reason}}</p>
            </div>

            <div class="card-tip card-tip1" ng-if="card.order_warning">
                <div>追踪结果</div>
                <p>{{card.warning_result}}</p>
            </div>
            
            <div class="card-message" ng-if="card.order_warning">
                <i class="icon ion-ios-information-outline"></i>
                {{msgObj.infoTxt}}
                <span>{{card.warning_deadline}}天后关闭</span>
            </div>

            <div class="padding button-bar button-bar-warn" ng-if="card.order_warning">
                <a class="button button-positive" ng-click="btnAction1()">{{msgObj.btnTxt1}}</a>
                <a class="button button-positive" ng-click="btnAction2()">{{msgObj.btnTxt2}}</a>
            </div>
        </section>
    </ion-content>
</ion-view>