<ion-view title="我的" hide-back-button="true" cache-view="false">
    <ion-content has-header="true" style="background:#f6f6f6;" has-bouncing="true">
        <div class="item item-icon-right avatar-container">
            <img ng-src="{{userObj.host + userObj.avatar}}">
            <div class="name-address">
                <span>{{userObj.username}}</span>
                <label>{{userObj.province + userObj.city}}</label>
            </div>
            <div class="rate rate-login" ng-if="!userObj.hasLogin">
                <a href="#/user/login">立即登录</a>
            </div>
            <div class="rate" ng-if="userObj.hasLogin">
                <a href="#/user/view/">完善度{{userObj.completeRate * 100}}%</a>
            </div>
            <a href="#/user/view/"><i ng-if="userObj.hasLogin" class="icon ion-ios-arrow-right icon-userinfo-right"></i></a>
        </div>

        <section class="user-icon-list clearfix">
            <div ng-click="goLevel()">
                <img src="img/icon_grade.png">
                <span>{{userObj.lv}}</span>
                <label>等级</label>
            </div>
            <div>
                <img src="img/icon_character.png">
                <span>{{userObj.rp}}</span>
                <label>信用分</label>
            </div>
            <div>
                <img src="img/icon_bean.png">
                <span>{{userObj.bean}}</span>
                <label>社豆</label>
            </div>
            <div>
                <img src="img/icon_rate.png">
                <span ng-if="userObj.hasLogin">{{userObj.arrivalRate + '%'}}</span>
                <label>到达率</label>
            </div>
        </section>

        <section class="box clearfix">
            <a href="#/my/receiving"><img src="img/icon_inbox.png"></a>
            <a href="#/my/sending"><img src="img/icon_mailbox.png"></a>
        </section>

        <section class="box-icon clearfix">
            <a href="#/switch/photos/"><img src="img/icon_album.png"></a>
            <a href="#/joint/manage/myCorporation"><img src="img/icon_jointly.png"></a>
            <a href="#/writer" ng-if="userObj.isPostcardMaster"><img src="img/icon_master.png"></a>
            <a href="#/tips/baodian"><img src="img/icon_canon.png"></a>
        </section>

        <section class="box-icon clearfix">
            <a href="#/setting"><img src="img/icon_setup.png"></a>
        </section>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <ion-tab title="首页" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/home"></ion-tab>
        <ion-tab title="社区" icon-off="ion-sofa" icon-on="ion-sofa-on" href="#/square"></ion-tab>
        <ion-tab title="信箱" icon-off="ion-ios-email" icon-on="ion-ios-email" href="#/message"></ion-tab>
        <ion-tab title="我的" icon-off="ion-person" icon-on="ion-person" href="#/user"></ion-tab>
    </ion-tabs>
</ion-view>