<ion-view title="收信">
    <ion-content has-header="true" has-bouncing="true">
        <div style="background:#f2f2f2">
            <div class="button-bar">
                <a class="button {{btnClass1}}" ng-click="readCardList(3)">等待收信</a>
                <a class="button {{btnClass2}}" ng-click="readCardList(2)">旅行中</a>
                <a class="button {{btnClass3}}" ng-click="readCardList(6)">旅行结束</a>
            </div>

            <section class="card-item" ng-repeat="card in orderList">
                <div class="header receive-header">
                    <i class="badgex" ng-if="card.order_type === 2">互寄</i>
                    <i class="badgex" ng-if="card.order_type === 3">PC</i>
                    <i class="badgex" ng-if="card.order_type === 4">联名</i>
                    <i class="badgex" ng-if="card.order_type === 5">福利</i>
                    <span>{{card.order_number}}</span>
                    <span ng-hide="!statusObj.hide">等待寄出</span>
                    <span ng-hide="statusObj.hide">{{statusObj.txt}} {{card.travel_days}}天</span>
                    <button ng-hide="statusObj.hideBtn" ng-click="done(card)">确认收信</button>
                </div>
                <div class="footer" ng-if="card.order_type === 2 || card.order_type === 3 || card.order_type === 5">
                    <section class="left">
                        <img class="avatar" ng-src="{{card.sender_avatar}}">
                    </section>
                    <section class="center">
                        <span>{{card.sender_username}}</span>
                        <span>{{card.sender_sex ==1? '男':'女'}}</span>
                        <span class="address">{{card.sender_province + card.sender_city}}</span>
                    </section>
                    <section class="right">
                        <img ng-src="{{card.picture}}">
                    </section>
                </div>

                <div class="footer" ng-if="card.order_type === 4">
                    <section class="left">
                        <img class="avatar" ng-src="{{card.corporation_avatar}}">
                    </section>
                    <section class="center">
                        <span>{{card.corporation_name}}</span>
                        <span class="address">{{card.corporation_province + card.corporation_city}}</span>
                    </section>
                    <section class="right">
                        <img ng-src="{{card.picture}}">
                    </section>
                </div>

            </section>

            <ion-infinite-scroll
                ng-if="!noMoreData"
                icon="ion-loading-c"
                on-infinite="readCardList()" distance="10%">
            </ion-infinite-scroll>

            <img src="img/xltb_1.png" class="full" ng-hide="showTip">
        </div>
    </ion-content>
</ion-view>