<ion-view title="收信">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons>
            <a href="#/user" class="button back-button buttons button-clear header-item">
                <i class="icon ion-ios-arrow-back"></i> 
                <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-header="true">
        <div style="background:#f2f2f2">
            <div class="button-bar">
                <a class="button {{btnClass1}}" ng-click="readCardList(3)">等待收信</a>
                <a class="button {{btnClass2}}" ng-click="readCardList(2)">旅行中</a>
                <a class="button {{btnClass3}}" ng-click="readCardList(6)">旅行结束</a>
            </div>

            <section class="card-item" ng-repeat="card in cardModel.orderList">
                <div class="header receive-header">
                    <span>{{card.order_number}}</span>
                    <span ng-hide="!statusObj.hide">等待寄出</span>
                    <span ng-hide="statusObj.hide">{{statusObj.txt}} {{card.travel_days}}天</span>
                    <button ng-hide="statusObj.hideBtn" ng-click="done(card)">确认收信</button>
                </div>
                <div class="footer">
                    <section class="left">
                        <img class="avatar" ng-src="{{cardModel.host + card.sender_avatar}}">
                    </section>
                    <section class="center">
                        <span>{{card.sender_username}}</span>
                        <span>{{card.sender_sex ==1? '男':'女'}}</span>
                        <span class="address">{{card.sender_province + card.sender_city}}</span>
                    </section>
                    <section class="right">
                        <img ng-src="{{card.picture}}">
                    </section>
                </div>
            </section>

            <img src="img/xltb_1.png" class="full" ng-hide="showTip">
        </div>
    </ion-content>
</ion-view>