<ion-view title="寄信">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons>
            <a href="#/user" class="button back-button buttons button-clear header-item">
                <i class="icon ion-ios-arrow-back"></i> 
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-header="true" style="background:#f2f2f2" has-bouncing="true">
        <div class="button-bar">
            <a class="button {{btnClass1}}" ng-click="readCardList(1)">等待寄出</a>
            <a class="button {{btnClass2}}" ng-click="readCardList(4)">旅行中</a>
            <a class="button {{btnClass3}}" ng-click="readCardList(5)">旅行结束</a>
        </div>

        <section class="card-item" ng-repeat="card in orderList">
            <div class="header">
                <div>
                    <i class="badgex" ng-if="card.order_type === 3">PC</i>
                    <i class="badgex" ng-if="card.order_type === 4">联名</i>
                    <i class="badgex" ng-if="card.order_type === 5">福利</i>
                    <span>{{card.order_number}}</span>
                    <label ng-hide="{{!statusObj.hide}}" ng-click="show()" ng-hide="done">请将该编码写于明信片上！<a href="#">示例</a></label>
                </div>
                <button ng-click="send(card)" ng-hide="{{!statusObj.hide}}">寄出</button>
                <span ng-hide="{{statusObj.hide}}">
                    <i class="icon ion-paper-airplane"></i>
                    {{statusObj.txt}}{{card.travel_days}}天
                </span>
            </div>
            <div class="footer">
                <div>
                    <span class="address">
                        <i class="icon ion-ios-location-outline"></i>
                        {{card.province + card.city + card.area + card.consignee_addr}}
                    </span>
                    <span class="username">收信人：<a href="#/user/view/{{card.recipient_uid}}">{{card.consignee_username}}</a></span>
                    <span class="code">邮编：{{card.zip_code}}</span>
                </div>
                <img class="cardimg" ng-src="{{card.picture}}" ng-click="takePic(card)">
            </div>
        </section>


        <ion-infinite-scroll
            ng-if="!noMoreData"
            icon="ion-loading-c"
            on-infinite="readCardList()" distance="10%">
        </ion-infinite-scroll>

        <!--拍照-->
        <!-- <input id="takecardpicture" type="file" accept="image/*" capture="camera" style="display: none"> -->

        <img src="img/xltb_1.png" class="full" ng-hide="showTip">
    </ion-content>
    <div id="card_bg" ng-style="modelStyle">
        <img src="img/tp_001.png" ng-click="hide()">
    </div>
</ion-view>