<ion-view title="注册" name="r-sign-up">
    <ion-content>
        <label class="item item-input item-stacked-label">
            <input ng-model="signupModel.phone" type="tel" placeholder="请输入手机号">
        </label>
        <label class="item item-input">
            <button ng-click="sendcode()" class="button-code {{signupModel.getCode.class}}">{{signupModel.getCode.value}}</button>
        </label>
        <label class="item item-input-inset">
            <input ng-model="signupModel.code" type="tel" placeholder="请输入验证码">
        </label>

        <label class="item item-input item-stacked-label">
            <input ng-model="signupModel.pwd" type="password" placeholder="请输入密码">
        </label>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signup()">注册</button>

            <p style="display:inline-block;line-height:" class="{{signupModel.msg.class}}">{{signupModel.msg.value}}</p>
        </div>
    </ion-content>
</ion-view>