<ion-view title="个人资料">
    <ion-nav-buttons side="right">
        <a class="button buttons button-clear header-item" ng-if="!hideEle" ng-click="share()"><i class="icon ion-share"></i></a>
    </ion-nav-buttons>
    <ion-content has-header="true" style="background:#f6f6f6;">
        <div class="list me-list">
            <a ng-click="go()" class="item item-icon-right" style="padding:0">
                <img src="img/bj_1.png" class="full">
                <div class="me-container">
                    <img ng-src="{{userModel.avatar}}">
                    <div>
                        <span>
                            {{userModel.username}}
                            <i class="gender gender{{userModel.sex}}"></i>
                        </span>
                        <br>
                        <span>{{userModel.province}} {{userModel.city}} {{userModel.area}}</span>
                    </div>
                </div>
                <i class="icon ion-edit" ng-if="!hideEle" style="font-size:18px"></i>
            </a>
            <a class="item data-mine">
                <h4>Wish</h4>
                <textarea ng-if="!hideEle" style="width:100%" ng-model="userModel.introduction"></textarea>
                <span ng-if="hideEle" style="white-space:normal;">{{userModel.introduction}}</span>
            </a>

            <a href="#/my/address" class="item data-mine item-icon-right" ng-if="!hideEle">
                <h4>收信地址</h4>
                <p>{{userModel.consignee_addr}}</p>
                <p>{{userModel.consignee_username}}</p>
                <p>{{userModel.zip_code}}</p>
                <i class="icon ion-edit" style="font-size:18px"></i>
            </a>
            <a class="item data-mine">
                <h4>数据</h4>

                <div>
                    <span>加入时间</span>
                    <span>{{userModel.create_at}}</span>
                </div>
                <div>
                    <span>最后登录时间</span>
                    <span>{{userModel.last_login_time}}</span>
                </div>
                <div>
                    <span>到达率</span>
                    <span>{{userModel.arrivalRate}}%</span>
                </div>
                <div>
                    <span>寄出</span>
                    <span>{{userModel.sendCount}}</span>
                </div>
            </a>
        </div>

        <div class="padding">
            <button class="button button-positive button-block" ng-click="sendto()" ng-if="hideEle">给Ta寄</button>
            <button class="button button-positive button-block" ng-click="save()" ng-if="!hideEle">保存修改</button>
        </div>
    </ion-content>

    <section id="share_bg" ng-hide="hideShare">
        <section class="share-list">
            <ul>
                <li>
                    <a ng-click="shareWechat()"><img src="img/icon_pengyouquan.png"></a>
                    <span>朋友圈</span>
                </li>
                <li>
       <!--              <a href="#"><img src="img/icon_weixin.png"></a>
                    <span>微信</span> -->
                </li>
                <li>
<!--                     <a href="#"><img src="img/icon_kongjian.png"></a>
                    <span>空间</span> -->
                </li>
                <li>
<!--                     <a href="#"><img src="img/icon_qq.png"></a>
                    <span>QQ</span> -->
                </li>
                <li>
    <!--                 <a href="#"><img src="img/icon_weibo.png"></a>
                    <span>微博</span> -->
                </li>
            </ul>
            <a ng-click="cancel()" class="cancel">取消</a>
        </section>
    </section>
</ion-view>
