<ion-view title="个人资料">
    <ion-nav-buttons side="right">
        <a class="button buttons button-clear header-item" ng-if="!hideEle" ng-click="share()"><i class="icon ion-ios-more"></i></a>
        <a class="button buttons button-clear header-item" ng-if="hideEle" ng-click="report()"><i class="icon ion-ios-more"></i></a>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div class="list me-list">
            <div class="item item-icon-right" style="padding:0">
                <img ng-src="{{backgroundImg}}" class="full">

                <div class="me-container" ng-click="go()">
                    <img class="avatar" ng-src="{{userModel.host + userModel.avatar}}">
                    <div>
                        <span>{{userModel.username}}</span>
                        <img class="level" ng-src="{{'img/levelicon/' + userModel.lv + '.png'}}">
                        <i class="gender gender{{userModel.sex}}"></i>
                    </div>
                    <section class="address">{{userModel.province + ' ' + userModel.city}}</section>
                    <i class="icon ion-edit" ng-if="!hideEle"></i>
                </div>

                <ul class="me-info clearfix">
                    <li>
                        <span>RP值</span>
                        <label>{{userModel.rp}}</label>
                    </li>
                    <li class="border-left">
                        <span>到达率</span>
                        <label>{{userModel.arrivalRate}}%</label>
                    </li>
                    <li class="border-left">
                        <span>寄信</span>
                        <label>{{userModel.sendCount}}</label>
                    </li>
                    <li class="border-left">
                        <span>入社</span>
                        <label>{{userModel.create_at}}天</label>
                    </li>
                    <li class="border-left">
                        <span>最近登录</span>
                        <label>{{userModel.last_login_time}}</label>
                    </li>
                </ul>
            </div>

            <div class="data-mine">
                <h4 ng-click="updateWish()">
                    Wish
                    <i class="icon ion-edit" ng-if="!hideEle"></i>
                </h4>
                <section>{{userModel.introduction}}</section>
            </div>
            
            <div class="data-mine" ng-if="!hideEle">
                <h4 ng-click="updateAddress()">
                    收信地址
                    <i class="icon ion-edit"></i>
                </h4>
                <section>
                    <div>
                        <span>{{userModel.consignee_username}}</span>
                        <span>{{userModel.zip_code}}</span>
                    </div>
                    {{userModel.consignee_addr}}
                </section>
            </div>
        </div>

        <div class="padding">
            <button class="button button-positive button-block" ng-click="sendto()" ng-if="hideEle">给Ta寄</button>
        </div>
    </ion-content>

    <section id="share_bg" ng-hide="hideShare">
        <section class="share-list">
            <ul>
                <li>
                    <a ng-click="shareWechat()"><img src="img/icon_pengyouquan.png"></a>
                    <span>朋友圈</span>
                </li>
                <li>
       <!--              <a href="#"><img src="img/icon_weixin.png"></a>
                    <span>微信</span> -->
                </li>
                <li>
<!--                     <a href="#"><img src="img/icon_kongjian.png"></a>
                    <span>空间</span> -->
                </li>
                <li>
<!--                     <a href="#"><img src="img/icon_qq.png"></a>
                    <span>QQ</span> -->
                </li>
                <li>
    <!--                 <a href="#"><img src="img/icon_weibo.png"></a>
                    <span>微博</span> -->
                </li>
            </ul>
            <a ng-click="cancel()" class="cancel">取消</a>
        </section>
    </section>
</ion-view>
