<ion-view title="社区" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a class="button header-item" href="#/squarepost">发帖</a>
    </ion-nav-buttons>
    <ion-content class="has-tabs">
        <a href="#/squaretheme/{{forum.id}}/square" class="item square-item {{forum.to_top ? 'square-item-top' : ''}}" ng-repeat="forum in dataList">
            <div class="header" ng-if="!forum.to_top">
                <img class="avatar" ng-src="{{forum.avatar}}">
                <label>{{forum.username}}
                    <img ng-src="{{'img/levelicon/' + forum.lv + '.png'}}" class="level">
                </label>
                <div>
                    <span><i class="ion ion-ios-chatbubble-outline"></i>&nbsp;{{forum.comment_count}}</span>
                    <span><i class="ion ion-ios-clock-outline"></i>&nbsp;{{forum.timeStr}}</span>
                </div>
            </div>

            <div class="img-content">
                <section>
                    <span ng-if="forum.to_top">置顶</span>
                    <h2>{{forum.title}}</h2>
                </section>
                <p ng-if="!forum.to_top">{{forum.content}}</p>
                <div class="clearfix" ng-if="!forum.to_top && forum.pictures.length > 0">
                    <img ng-src="{{p}}" ng-repeat="p in forum.pictures">
                </div>
            </div>

            <div class="comment" ng-if="!forum.to_top">
                我也说一句...
            </div>
        </a>

        <ion-infinite-scroll
            ng-if="!noMoreData"
            icon="ion-loading-c"
            on-infinite="initList()" distance="10%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <ion-tab title="首页" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/home"></ion-tab>
        <ion-tab title="社区" icon-off="ion-sofa" icon-on="ion-sofa-on" href="#/square"></ion-tab>
        <ion-tab title="信箱" icon-off="ion-ios-email" icon-on="ion-ios-email" href="#/message"></ion-tab>
        <ion-tab title="我的" icon-off="ion-person" icon-on="ion-person" href="#/user"></ion-tab>
    </ion-tabs>
</ion-view>