<ion-view title="举报">
    <ion-content has-header="true">
        <ion-list>
            <ion-radio ng-repeat="opt in reportList" ng-click="select(opt)">{{opt.name}}</ion-radio>
        </ion-list>

        <div class="list" ng-if="reportModel.from === 'user'">
            <div class="item item-input">
                <textarea class="full full-height" ng-model="reportModel.content" placeholder="请输入举报理由"></textarea>
            </div>
            <div class="item post-img-list clearfix">
                <img ng-src="{{img}}" ng-repeat="img in photos">
                <img src="img/icon_tianjia2.png" ng-click="upload()">
            </div>
        </div>

        <div class="padding">
            <button class="button button-positive button-block" ng-click="submit()">提交</button>
        </div>
    </ion-content>
</ion-view>
