<ion-view title="主题帖" cache-view="false" hide-back-button="true">
    <ion-nav-buttons side="left">
        <a ng-click="goBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i> 
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button buttons button-clear header-item" ng-if="!hideEle" ng-click="operation()"><i class="icon ion-ios-more"></i></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="item square-item squarelist-item {{forum.floor > 1 ? 'square-item-gray' : ''}}" ng-repeat="forum in dataList">
            <div class="header">
                <img class="avatar" ng-src="{{forum.avatar}}">
                <label>
                    {{forum.username}}<img ng-src="{{'img/levelicon/' + forum.lv + '.png'}}" class="level">
                    <i class="gender gender{{forum.sex}}"></i>
                    <i ng-if="forum.isLandlord" class="landlord">楼主</i>
                </label>

                <span class="time">{{forum.floor > 0 ? '第' + forum.floor + '楼' : ''}} {{forum.timeStr}}</span>

                <div ng-if="forum.floor > 1">
                    <span class="sq-icon" ng-click="comment(forum)">
                        <i class="ion ion-ios-chatbubble-outline"></i>&nbsp;
                        {{forum.commentList.length}}
                    </span>
                    <span class="sq-icon" ng-click="report(forum)"><i class="ion ion-ios-more"></i></span>
                </div>
            </div>

            <div class="detail-content">
                <h2 ng-if="forum.title">{{forum.title}}</h2>
                <p ng-click="comment(forum)">{{forum.content}}</p>
                <div class="clearfix {{forum.floor > 1 ? 'square-item-img' : ''}}" ng-if="forum.pictures.length > 0">
                    <img class="full full-block" ng-src="{{p}}" ng-repeat="p in forum.pictures">
                </div>
                <div class="first-comment" ng-if="forum.commentList.length > 0">
                    <p ng-repeat="c in forum.commentList">
                        <a ng-click="comment(c)">{{c.username}}</a>
                        <i ng-if="c.isLandlord" class="landlord">楼主</i>
                        ：{{c.content}}
                        &nbsp;&nbsp;
                        <span>{{formatDate(c.create_at)}}</span>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>

        <ion-infinite-scroll
            ng-if="!noMoreData"
            icon="ion-loading-c"
            on-infinite="initList()" distance="10%">
        </ion-infinite-scroll>
    </ion-content>

    <div class="post-replay" ng-style="replyStyle">
        <div class="item item-input-inset theme-reply">
            <a class="btn-image icon ion-image" ng-click="upload()"></a>
            <label class="item-input-wrapper">
                <input type="text" ng-model="themeRepModel.content" placeholder="回复楼主" ng-blur="inputBlur()">
            </label>
            <button class="button button-small button-positive" ng-click="replay()">回复</button>
        </div>
        <div class="item post-img-list clearfix" ng-hide="photos.length === 0">
            <img ng-src="{{img}}" ng-repeat="img in photos">
            <img src="img/icon_tianjia2.png" ng-click="uploadPic()">
        </div>
        <div class="item post-btn-list" ng-hide="!showPhotos">
            <a ng-click="uploadPic()"><img class="full" src="img/button_zp.png"></a>
            <a ng-click="uploadCamera()"><img class="full" src="img/button_pz.png"></a>
        </div>
    </div>
</ion-view>
