<ion-view title="收信地址">
    <ion-content has-header="true">
        <div class="list">
            <label class="item item-input">
                <label>收信人姓名</label>
                <input ng-model="addressModel.name" type="tel" placeholder="收信人姓名">
            </label>
            <label class="item item-input">
                <label>收信人邮编</label>
                <input ng-model="addressModel.code" type="password" placeholder="收信人邮编">
            </label>
        </div>
        <div class="padding">
            <button class="button button-positive button-block" ng-click="login()">开始我的旅程</button>
        </div>
    </ion-content>
</ion-view>