<ion-view title="我的">
    <ion-content has-header="true">
        <div>
            <img src="img/wd_1.jpg" class="full">
            <div class="avatar-container">
                <img ng-src={{userObj.avatar}}>
                <span>
                    {{userObj.username}}
                    <i class="gender gender{{userObj.sex}}"></i>
                </span>
                <label>{{userObj.province + userObj.city + userObj.area}}</label>
                <label>加入时间 {{userObj.create_at}}</label>
            </div>
        </div>

        <div class="send-userinfo padding">
            <p>
                <label>明信片编码：</label>
                <span>{{userObj.order_number}} </span>
            </p>
            <p>
                <label>寄出地址：</label>
                <span>{{userObj.province + ' ' + userObj.city + userObj.area + userObj.consignee_addr}}</span>
            </p>
            <p>
                <label>收信人姓名：</label>
                <span>{{userObj.consignee_username}} </span>
            </p>
            <p>
                <label>邮编：</label>
                <span>{{userObj.zip_code}} </span>
            </p>

            <a href="#/my/sending" class="button button-positive button-block">去“等待寄出”查看</a>
        </div>
    </ion-content>
</ion-view>