<ion-view title="Postcrossing">
    <ion-content has-header="true" scroll="false">
        <div class="pc-background padding">
            <h2>世界就是一张明信片的距离</h2>
            <button class="button button-positive button-block" ng-click="send()">寄一张</button>

            <div class="pc-text">已有{{dataModel.sendCount}}人寄出</div>
            <div class="pc-avatar-list">
                <img ng-src="{{dataModel.host + avatar.avatar}}" ng-repeat="avatar in dataModel.userList">
                ……
            </div>
        </div>
    </ion-content>
</ion-view>