<ion-view title="确认收信" cache-view="false">
    <ion-content has-header="true" has-bouncing="true" class="gray-color">
        <section class="card-item">
            <div class="header receive-header {{card.order_warning ? 'headerwarn' : ''}}" ng-click="go(card)">
                <i class="badgex badgex1" ng-if="card.order_type === 1"><img src="img/icon_gtj.png"></i>
                <i class="badgex badgex1" ng-if="card.order_type === 2"><img src="img/icon_hj.png"></i>
                <i class="badgex badgex1" ng-if="card.order_type === 3"><img src="img/icon_pc.png"></i>
                <i class="badgex badgex1" ng-if="card.order_type === 4"><img src="img/icon_lm.png"></i>
                <i class="badgex badgex1" ng-if="card.order_type === 5"><img src="img/icon_fl.png"></i>

                <span class="{{card.order_type === 2 ? 'red' : ''}}">{{card.order_number}}</span>
                <label class="day">
                    已旅行{{card.travel_days}}天
                </label>
            </div>

            <div class="footer" ng-if="card.order_type !== 4">
                <section class="left">
                    <a href="#/user/view/{{card.send_uid}}"><img class="avatar" ng-src="{{card.sender_avatar}}"></a>
                </section>
                <section class="center">
                    <span>{{card.sender_username}}</span>
                    <span>{{card.sender_sex == 1? '男':'女'}}</span>
                    <span class="address">{{card.sender_province + card.sender_city}}</span>
                </section>
                <section class="right">
                    <img ng-src="{{card.picture}}">
                </section>
            </div>

            <div class="footer" ng-if="card.order_type === 4">
                <section class="left">
                    <img class="avatar" ng-src="{{card.corporation_avatar}}">
                </section>
                <section class="center">
                    <span>{{card.corporation_name}}</span>
                    <span class="address">{{card.corporation_province + card.corporation_city}}</span>
                </section>
                <section class="right">
                    <img ng-src="{{card.picture}}">
                </section>
            </div>
        </section>
        <textarea ng-model="cardModel.content" class="full full-height" placeholder="输入一句您想对Ta说的话"></textarea>
        <div class="padding">
            <button class="button button-positive button-block" ng-click="done()">确认收信</button>
        </div>
    </ion-content>
</ion-view>