<ion-view title="收信设置">
    <ion-content has-header="true">
        <ul class="list">
<!--             <li class="item item-toggle">
                允许Postcrossing抽到我
                <label class="toggle toggle-balanced" ng-click="select()">
                    <input type="checkbox" ng-model="dataModel.allowPC">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                允许收信方给我寄
                <label class="toggle toggle-balanced" ng-click="select()">
                    <input type="checkbox" ng-model="dataModel.allowSending">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li> -->
            <li class="item item-toggle">
                允许所有人给我寄
                <label class="toggle toggle-balanced" ng-click="save()">
                    <input type="checkbox" ng-model="dataModel.allowReceiving">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
<!--         <div class="padding">
            <button class="button button-positive button-block" ng-click="save()">保存设置</button>
        </div> -->
    </ion-content>
</ion-view>