<ion-view title="收信设置">
    <ion-content has-header="true">
        <ul class="list">
            <li class="item">
                给Ta寄
            </li>
            <li class="item item-toggle">
                允许所有人给我寄
                <label class="toggle toggle-balanced" ng-click="saveR()">
                    <input type="checkbox" ng-model="dataModel.allowReceiving">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item">PC收信</li>
            <li class="item item-toggle">
                允许抽到我
                <label class="toggle toggle-balanced" ng-click="savePC()">
                    <input type="checkbox" ng-model="dataModel.allowPC">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>