<ion-view view-title="信人社" hide-back-button="true">
    <!--
     <ion-nav-buttons side="left">
        <a href="tel:4007801155" class="button button-icon button-clear icon ion-ios-telephone-outline"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#/questions" class="button button-icon button-clear icon ion-ios-help-outline"></a>
    </ion-nav-buttons> 
    -->
    <ion-content>

        <div class="home-container">
            <div class="home-card">
                <a href="#"><img src="img/home_1.png"></a>
            </div>

            <div class="home-send">
                <div>
                    <label>已有{{dataObj.sendCount}}人寄出</label>
                    <img class="home-avatar" ng-repeat="img in dataObj.userList" ng-src="{{dataObj.host + img.avatar}}">
                    <a href="#">寄一张</a>
                </div>
            </div>
        </div>

        <!--
        <div class="padding">
            <a href="#/user/login" class="button button-block button-positive">登录</a>
            <a href="#/user/signup" class="button button-block button-positive">注册</a>
            <a href="#" class="button button-block button-positive">找回密码</a>
        </div>
        -->
    </ion-content>
</ion-view>
