<ion-view view-title="test">
    <ion-content>
        <div class="home-container">
            test
            <image-crop          
                 data-height="200"
                 data-width="150"
                 data-shape="square"
                 data-step="imageCropStep"
                 src="imgSrc"
                 data-result="result"
                 data-result-blob="resultBlob"
                 crop="initCrop"
                 padding="250"
                 max-size="1024"
                >
            </image-crop>
        </div>
    </ion-content>
</ion-view>
