<ion-view view-title="联名" align-title="center" hide-back-button="true">
    <ion-nav-buttons side="left">
        <a href="#/home" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i> 
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#/corporation/create" class="button">创建联名社</a>
    </ion-nav-buttons>

    <div class="joint-tabs tabs-striped tabs-top">
        <div class="tabs">
            <a class="tab-item" ng-class="loadType=='activity'? 'active':''" ng-click="changeLoadType('activity')">
                联名活动
            </a>
            <a class="tab-item" ng-class="loadType=='corporation'? 'active':''" ng-click="changeLoadType('corporation')">
                联名社
            </a>
        </div>
    </div>
    <ion-content style="background: #f2f2f2;" class="joint" has-bouncing="true">
        <div class="joint-list" ng-include="templateUrl"></div>
    </ion-content>
</ion-view>
