<ion-view title="寄出">
    <ion-content has-header="true">
        <div style="background:#f2f2f2">
            <div class="button-bar">
                <a class="button {{btnClass1}}" ng-click="readCardList(1)">等待寄出</a>
                <a class="button {{btnClass2}}" ng-click="readCardList(4)">等待收信</a>
                <a class="button {{btnClass3}}" ng-click="readCardList(5)">旅行结束</a>
            </div>

            <section class="card-item" ng-repeat="card in cardModel.orderList">
                <div class="header">
                    <div>
                        <span>{{card.order_number}}</span>
                        <label ng-click="show()">请将该编码写于明信片上！<a href="#">示例</a></label>
                    </div>
                    <button ng-click="send(card)">寄出</button>
                </div>
                <div class="footer">
                    <div>
                        <span class="address">{{card.consignee_addr}}</span>
                        <span>收信人：{{card.consignee_username}}</span>
                        <span>邮编：{{card.zip_code}}</span>
                    </div>
                    <!-- <img ng-src="{{cardModel.host + card.picture}}"> -->
                    <img src="img/xjbj_1.png">
                </div>
            </section>

            <!--拍照-->
            <input id="takepicture" type="file" accept="image/*" capture="camera" style="display: none">

            <div id="card_bg" ng-style="modelStyle">
                <img src="img/tp_001.png" ng-click="hide()">
            </div>
        </div>
    </ion-content>
</ion-view>