<ion-view title="个人资料">
  <ion-content has-header="true">
      <div class="avatar-container user-info-avatar" >
        <img ng-src={{userObj.host+userObj.avatar}} ng-click="takePicture()">
        <span class="ion-compose edit-avatar-btn" data-pack="default" data-tags="write, compose, type"></span>
        <!--<button class="edit-avatar-btn button button-positive ">更换头像</button>-->
      </div>

      <div class="content user-info-list ionic-pseudo">

        <div class="list">

          <div class="item item-input" ng-click="changeUserName()">
            <span  class="input-label">昵称</span>
            <span ng-bind="userObj.username" class="list-right" ng-hide="usernameHide"></span>
            <input type="search" maxlength="30" ng-hide="inputHide" ng-model="userObj.username" >
          </div>

          <div class="item">
            性别
            <span ng-cloak class="list-right">{{userObj.sex==1? '男':'女'}}</span>

          </div>

        </div>

      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="saveUserInfo()">确定</button>
      </div>
    <!--拍照-->
    <input id="takepicture" type="file" accept="image/*" capture="camera" style="display: none">
  </ion-content>
</ion-view>
