<ion-view view-title="推广大使">
    <ion-nav-buttons side="right">
        <a href="#/user/signup" class="button"><i class="icon ion-ios-help-outline"></i></a>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="pc-background padding">
            <h2>好东西总是要和好友分享</h2>
            <button class="button button-positive button-block" ng-click="share()">邀请好友</button>

            <div class="pc-text">您总共有效邀请{{dataModel.total_invite_count}}人，本月有效邀请{{dataModel.invite_count}}人</div>
            <div class="pc-avatar-list">
                <img ng-src="{{dataModel.host + avatar.avatar}}" ng-repeat="avatar in dataModel.invitationList">
                ……
            </div>
        </div>
    </ion-content>

    <section id="share_bg" ng-hide="hideShare">
        <section class="share-list">
            <ul>
                <li>
                    <a ng-click="shareWechat()"><img src="img/icon_pengyouquan.png"></a>
                    <span>朋友圈</span>
                </li>
                <li>
       <!--              <a href="#"><img src="img/icon_weixin.png"></a>
                    <span>微信</span> -->
                </li>
                <li>
<!--                     <a href="#"><img src="img/icon_kongjian.png"></a>
                    <span>空间</span> -->
                </li>
                <li>
<!--                     <a href="#"><img src="img/icon_qq.png"></a>
                    <span>QQ</span> -->
                </li>
                <li>
    <!--                 <a href="#"><img src="img/icon_weibo.png"></a>
                    <span>微博</span> -->
                </li>
            </ul>
            <a ng-click="cancel()" class="cancel">取消</a>
        </section>
    </section>
</ion-view>
