<ion-view title="推广王大赛">
    <ion-content has-header="true" style="background:#f2f2f2">
        <img ng-src="{{kingData.host + kingData.bannerInfo.picture}}" class="full">

        <div class="member-list sign-list king-title" ng-if="hasLogin">
            <div class="member-item sign-item" ng-if="kingData.userNum > 0">
                <span class="index">{{kingData.userNum + 1}}</span>
                <img ng-src="{{kingData.host + userObj.avatar}}">
                <section>
                    <label>{{userObj.username}}</label>
                    <label>本月在通往王的道路上，还有{{kingData.userNum}}个距离</label>
                </section>
            </div>
            <span ng-if="noNum">
                暂无排名
            </span>
        </div>

        <div class="king-title" ng-if="!hasLogin">
            <a href="#/tab/user/login">立即登录</a>
            <span>登录查看你的排行</span>
        </div>

        <table class="expand-list">
            <tr ng-repeat="king in kingData.topList">
                <td>
                    <img class="king" src="img/picture_king.png" ng-if="king.index === 0">
                    <img class="king" src="img/picture_wang.png" ng-if="king.index > 0">
                </td>
                <td><img class="avatar"  ng-src="{{kingData.host + king.avatar}}"></td>
                <td>{{king.username}}</td>
                <td>已邀请{{king.invite_count}}人</td>
                <td>暂居第{{king.rank}}名</td>
            </tr>
        </table>
    </ion-content>
</ion-view>
