<ion-view title="等级">
    <ion-content has-header="true" class="padding">
        

        <section class="level-container">
            <img class="level-avatar" ng-src="{{userObj.host + userObj.avatar}}">
            
            <div>
                当前等级: <span>LV.{{userObj.lv}}</span>
            </div>
        </section>

        <section class="level-container level-des">
            下一个等级：<span>LV.5</span><br>
            还差经验值：<span>380</span>
        </section>
    </ion-content>
</ion-view>
