<ion-view title="等级" cache-view="false">
    <ion-nav-buttons side="right">
        <a ng-click="open('level')" class="button"><i class="icon ion-ios-help-outline"></i></a>
    </ion-nav-buttons>
    <ion-content has-header="true" class="padding">
        <section class="level-container">
            <img class="level-avatar" ng-src="{{userObj.host + userObj.avatar}}">
            
            <div>
                当前等级: <span>LV.{{userLevel.lv}}</span>
            </div>
        </section>

        <section class="level-container level-des">
            下一个等级：<span>LV.{{userLevel.next_lv}}</span><br>
            还差经验值：<span>{{userLevel.remain_exp}}</span>
        </section>
    </ion-content>
</ion-view>
