<ion-view title="我的">
    <ion-content has-header="true">
        <div>
            <img src="img/wd_1.jpg" class="full">
            <div class="avatar-container">
                <img ng-src={{userObj.avatar}}>
                <span>{{userObj.username}}</span>
                <label>{{userObj.province + userObj.city + userObj.area}}</label>
                <label>加入时间 {{userObj.create_at}}</label>
            </div>
        </div>

        <div class="send-userinfo padding">
            <p>明信片编码：{{userObj.order_number}} </p>
            <p>寄出地址：{{userObj.consignee_addr}} </p>
            <p>收信人姓名：{{userObj.consignee_username}} </p>
            <p>邮编：{{userObj.zip_code}} </p>

            <a href="#/" class="button button-positive button-block">去“等待寄出”查看</a>
        </div>
    </ion-content>
</ion-view>