<ion-view title="缘寄">
    <ion-content has-header="true" class="padding">
        <div>
            <h3>请仔细阅读以下提示：</h3>
            <ul>
                <li>我们将为您随机抽取一位收信人，您要尽快寄出哦！否则会影响您的信用哦！</li>
                <li>如果想收到别的小伙伴寄的明信片，寄的越多收到的也就越多哦！</li>
            </ul>

            <ion-checkbox ng-model="sendModel.agree">我阅读了提示，并且我一定会寄出一张明信片</ion-checkbox>
        </div>

        <button class="button button-positive button-block" ng-click="request()">请求一个小伙伴的地址</button>
    </ion-content>
</ion-view>