<ion-view view-title="图片编辑">
    <ion-content>
        <div class="home-container">
            <div class="padding">
                <a class="button button-block button-positive" ng-click="upload()">上传照片</a>
            </div>

            <div ng-hide="true">      
                <input type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
            </div>          
      
            <div ng-show="imageCropStep == 2">
                <image-crop           
                 data-height="200"
                 data-width="200"
                 data-shape="square"
                 data-step="imageCropStep"
                 src="imgSrc"
                 data-result="result"
                 data-result-blob="resultBlob"
                 crop="initCrop"
                 max-size="1024"
                ></image-crop>        
            </div>
            <br>
            <br>
            <br>
            <div class="padding">
                <button class="button button-small button-positive" ng-click="clear()">取消</button>
                &nbsp;
                <button class="button button-small button-positive" ng-click="initCrop = true">确定</button>     
            </div>         
       
<!--             <div ng-show="imageCropStep == 3">
                <img ng-src="{{result}}"></img>
                <p>The Base64 String used in the image above:</p>         
                <textarea class="result-datauri">{{ result }}</textarea>
                <button ng-click="clear()">Clear</button>  
            </div> -->

        </div>
    </ion-content>
</ion-view>
