<ion-view title="签到福利" cache-view="false">
    <ion-nav-buttons side="right">
        <a ng-click="open()" class="button">签到宝典</a>
    </ion-nav-buttons>
    <ion-content has-header="true" class="gray-color">
        <img src="img/banner.png" class="full">
        <a href="#/sign/king" class="sign-king"><img class="full" src="img/icon_qiandaow.png"></a>
        <div class="sign-header">
            <span>{{signObj.date}}</span>
            <span>今日福利：{{signObj.total}}个  剩余{{signObj.remain}}个</span>
            <img ng-click="sign()" src="img/icon_qiandao1.png" ng-if="!signObj.hasSign && !showTimeCount">
            <img src="img/icon_yqiandao.png" ng-if="signObj.hasSign">
            <span ng-if="showTimeCount" class="timer">距离签到还剩：{{showHours}}:{{showMinutes}}:{{showSeconds}}</span>
        </div>

        <div style="width:100%;text-align:center;margin-top:100px" ng-if="signListObj.length === 0">暂无签到，你来做第一人吧</div>

        <div class="list member-list sign-list" ng-if="usersignObj">
            <div class="item member-item sign-item">
                <span class="index" ng-if="usersignObj.sign_order === 1"><img src="img/icon_diyi.png"></span>
                <span class="index" ng-if="usersignObj.sign_order === 2"><img src="img/icon_dier.png"></span>
                <span class="index" ng-if="usersignObj.sign_order === 3"><img src="img/icon_disan.png"></span>

                <span ng-if="usersignObj.sign_order > 3" class="index">{{usersignObj.sign_order}}</span>
                <img ng-src="{{usersignObj.avatar}}" class="asso-avatar">
                <div style="left:120px;">
                    <span>{{usersignObj.username}}</span>
                    <label>{{usersignObj.province}} {{usersignObj.city}}</label>
                </div>
                <span class="time">{{usersignObj.create_at}}</span>
                <!-- <img ng-if="usersignObj.status === 1" class="gift" src="img/icon_liwu.png"> -->

                <img ng-if="usersignObj.status === 1 && usersignObj.prize_id === 1" class="gift" src="img/icon_liwu.png">
                <img ng-if="usersignObj.status === 1 && usersignObj.prize_id === 3" class="gift" src="img/icon_libaop.png">
                <img ng-if="usersignObj.status === 1 && usersignObj.prize_id === 2" class="gift" src="img/icon_libaoy.png">
                <img ng-if="usersignObj.status === 1 && usersignObj.prize_id === 4" class="gift" src="img/icon_sd.png">
            </div>
        </div>

        <div class="list member-list sign-list">
            <a class="item member-item sign-item" ng-repeat="s in signListObj" href="#/user/view/{{s.uid}}">
                <span class="index" ng-if="s.sign_order === 1"><img src="img/icon_diyi.png"></span>
                <span class="index" ng-if="s.sign_order === 2"><img src="img/icon_dier.png"></span>
                <span class="index" ng-if="s.sign_order === 3"><img src="img/icon_disan.png"></span>

                <span ng-if="s.sign_order > 3" class="index">{{s.sign_order}}</span>
                <img ng-src="{{s.avatar}}" class="asso-avatar">
                <div style="left:120px;">
                    <span>{{s.username}}</span>
                    <label>{{s.province}} {{s.city}}</label>
                </div>
                <span class="time">{{s.create_at}}</span>
                <img ng-if="s.status === 1 && s.prize_id === 1" class="gift" src="img/icon_liwu.png">
                <img ng-if="s.status === 1 && s.prize_id === 3" class="gift" src="img/icon_libaop.png">
                <img ng-if="s.status === 1 && s.prize_id === 2" class="gift" src="img/icon_libaoy.png">
                <img ng-if="s.status === 1 && s.prize_id === 4" class="gift" src="img/icon_sd.png">
            </a>
        </div>

        <div class="padding" ng-if="signCount > 100">今日已签到{{signCount}}人，列表仅显示100人</div>
    </ion-content>
</ion-view>
