<ion-view title="签到王">
    <ion-content has-header="true" style="background:#f2f2f2">
        <div class="king-title">
            <span>{{userObj.username}}</span>

            <span>
                本月在通往王的道路上，还有12个距离
            </span>
        </div>

        <div class="king-title">
            <a class="button button-small button-positive" href="#/user/login">立即登录</a>
            <span>登录查看你的排行</span>
        </div>


        <ul class="king-list">
            <li>
                <img class="king" src="img/picture_king.png">

                <div class="content">
                    <span class="title">测试名字</span>

                    <div>
                        <span>
                            <img src="img/icon_hg.png">
                            <i>12</i>
                        </span>
                        <span>
                            <img src="img/icon_yg.png">
                            <i>12</i>
                        </span>
                        <span>
                            <img src="img/icon_tg.png">
                            <i>12</i>
                        </span>
                        <span>
                            <img src="img/icon_libaop.png">
                            <i>12</i>
                        </span>
                        <span>
                            <img src="img/icon_libaoy.png">
                            <i>12</i>
                        </span>
                        <span>
                            <img src="img/icon_liwu.png">
                            <i>12</i>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
