<ion-view title="信箱">
    <ion-content has-header="true" style="background:#f6f6f6;">
    
        <div class="list list-message">

            <!--联名小助手-->
            <a ng-if="sourceType == 'jointly'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img ng-src="{{msgModel.host + msg.msgdata.propaganda_pic}}">
                        <div>
                            <span>{{msg.msgdata.corporation_name}}</span><br>
                            <span>{{msg.msgdata.activity_name}}</span>
                        </div>
                    </div>
                </div>
            </a>

            <!--收信小助手-->
            <a ng-if="sourceType == 'receive'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img class="avatar" ng-src="{{msgModel.host + msg.msgdata.avatar}}">
                        <div>
                            <span>{{msg.msgdata.username}}</span><br>
                            <span>{{msg.msgdata.province}} {{msg.msgdata.city}}</span>
                        </div>
                        <img ng-src="{{msgModel.host + msg.msgdata.picture}}">
                    </div>
                </div>
            </a>

            <!--验证消息-->
            <a ng-if="sourceType == 'verify'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img ng-src="{{msgModel.host + msg.msgdata.corporation_avatar}}">
                        <div>
                            <span>{{msg.msgdata.corporation_name}}</span><br>
                        </div>
                    </div>
                </div>
            </a>

            <!--寄信小助手-->
            <a ng-if="sourceType == 'send'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img ng-src="{{msgModel.host + msg.msgdata.picture}}">
                        <div>
                            <span>{{msg.msgdata.consignee_username}}</span><br>
                            <span>{{msg.msgdata.consignee_addr}}</span>
                        </div>
                    </div>
                </div>
            </a>

            <!--社长助手-->
            <a ng-if="sourceType == 'president'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img ng-if="msg.msgdata.avatar" class="avatar" ng-src="{{msgModel.host + msg.msgdata.avatar}}">
                        <img ng-if="msg.msgdata.activity_avatar" ng-src="{{msgModel.host + msg.msgdata.activity_avatar}}">
                        <div>
                            <span ng-if="msg.msgdata.username">{{msg.msgdata.username}}</span>
                            <span ng-if="msg.msgdata.activity_name">{{msg.msgdata.activity_name}}</span>
                            <br>
                            <span ng-if="msg.msgdata.province">{{msg.msgdata.province}} {{msg.msgdata.city}}</span>
                            <span ng-if="msg.msgdata.corporation_name">{{msg.msgdata.corporation_name}}</span>
                        </div>
                    </div>
                </div>
            </a>


 <!--            <a class="item item-avatar">
                <img src="img/icon_jixin.png">
                <h2>寄信助手</h2>
                <p>2016-4-11 20:57</p>

                <div class="message">
                    <p>有人来索片啦。</p>
                    <div class="container">
                        <img src="img/tx_01.png">
                        <div>
                            <span>信人社第一届明信片网络联络会议</span><br>
                            <span>官方联名团</span>
                        </div>
                    </div>
                </div>
            </a> -->


        </div>

    </ion-content>
</ion-view>
