<ion-view title="信箱" hide-back-button="true">
    <ion-nav-buttons side="left">
        <a href="#/message" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i> 
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-message">

            <!--联名小助手-->
            <a ng-if="sourceType == 'jointly'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img ng-src="{{msgModel.host + msg.msgdata.propaganda_pic}}">
                        <div>
                            <span>{{msg.msgdata.corporation_name}}</span><br>
                            <span>{{msg.msgdata.activity_name}}</span>
                        </div>
                    </div>
                </div>
            </a>

            <!--收信小助手-->
            <a ng-if="sourceType == 'receive'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img class="avatar" ng-src="{{msgModel.host + msg.msgdata.avatar}}">
                        <div>
                            <span>{{msg.msgdata.username}}</span><br>
                            <span>{{msg.msgdata.province}} {{msg.msgdata.city}}</span>
                        </div>
                        <img ng-src="{{msgModel.host + msg.msgdata.picture}}">
                    </div>
                </div>
            </a>

            <!--验证消息-->
            <a ng-if="sourceType == 'verify'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img ng-src="{{msgModel.host + msg.msgdata.corporation_avatar}}">
                        <div>
                            <span>{{msg.msgdata.corporation_name}}</span><br>
                        </div>
                    </div>
                </div>
            </a>

            <!--寄信小助手-->
            <a ng-if="sourceType == 'send'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img ng-src="{{msgModel.host + msg.msgdata.picture}}">
                        <div>
                            <span>{{msg.msgdata.consignee_username}}</span><br>
                            <span>{{msg.msgdata.consignee_addr}}</span>
                        </div>
                    </div>
                </div>
            </a>

            <!--社长助手-->
            <a ng-if="sourceType == 'president'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                    <div class="container">
                        <img ng-if="msg.msgdata.avatar" class="avatar" ng-src="{{msgModel.host + msg.msgdata.avatar}}">
                        <img ng-if="msg.msgdata.activity_avatar" ng-src="{{msgModel.host + msg.msgdata.activity_avatar}}">
                        <div>
                            <span ng-if="msg.msgdata.username">{{msg.msgdata.username}}</span>
                            <span ng-if="msg.msgdata.activity_name">{{msg.msgdata.activity_name}}</span>
                            <br>
                            <span ng-if="msg.msgdata.province">{{msg.msgdata.province}} {{msg.msgdata.city}}</span>
                            <span ng-if="msg.msgdata.corporation_name">{{msg.msgdata.corporation_name}}</span>
                        </div>
                    </div>
                </div>
            </a>

            <!--系统消息-->
            <a ng-if="sourceType == 'system'" class="item item-avatar" ng-repeat="msg in msgModel.msgList">
                <img ng-src="{{msgModel.host + msgModel.categoryInfo.avatar}}">
                <h2>{{msgModel.categoryInfo.name}}</h2>
                <p>{{msg.create_at}}</p>

                <div class="message">
                    <p>{{msg.message}}</p>
                </div>
            </a>

            <!--广场小助手-->
            <a ng-if="sourceType == 'forum'" ng-click="go(forum)" class="item square-item message-item" ng-repeat="forum in msgModel.msgList">
                <div class="header">
                    <img ng-src="{{msgModel.host + forum.msgdata.comment_avatar}}">
                    <label>{{forum.msgdata.comment_username}}</label>
                    <div>
                        <span><i class="ion ion-ios-clock-outline"></i>&nbsp;{{forum.create_at}}</span>
                    </div>
                </div>

                <div class="img-content">
                    <p>{{forum.msgdata.comment_content}}</p>
                </div>

                <div class="comment-cont">
                    <div class="comment">
                    {{forum.msgdata.my_content}}
                    </div>
                </div>

                <div ng-click="comment($event, forum)" class="comment-icon">
                    <span><i class="ion ion-ios-chatbubble-outline"></i> 回复</span>
                </div>
            </a>

        </div>

        <div class="tip-message" ng-if="msgModel.msgList.length <= 0">
            <br><br>
            <img src="img/icon_tp.png">
        </div>
    </ion-content>
</ion-view>
