<ion-view title="搜索">
    <ion-content has-header="false" hide-nav-bar="true">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="请输入用户昵称" ng-model="dataModel.searchTxt">
            </label>
            <button class="button button-clear" ng-click="search()" style="color:#000">搜索</button>
        </div>

        <ion-list class="list joint-list" style="top:0">
            <a class="item item-avatar" ng-repeat="m in dataModel.userList" href="#/user/view/{{m.uid}}">
                <img ng-src="{{dataModel.host + m.avatar}}">
                <h2>
                    <span ng-bind="m.username"></span>
                    <span ng-switch on="m.sex">
                        <span class="sex-icon ion-female" data-pack="default" data-tags="lady, girl, dudette" ng-switch-when="0"></span>
                        <span class="sex-icon ion-male" data-pack="default" data-tags="male, guy, boy, dude" ng-switch-when="1"></span>
                    </span>
                </h2>
                <p ng-bind="m.province + ' ' + m.city"></p>
            </a>
        </ion-list>
        <img ng-if="showTip" src="img/icon_tishi_2.png" class="full">
    </ion-content>
</ion-view>