/* Empty. Add your own CSS if you like */
body{
    /*font-size: 62.5%;*/
}
.loading-container .loading{
    background-color: rgba(0,0,0,0.3);
}
.tabs-striped .tab-item.activated, .tabs-striped .tab-item.active, .tabs-striped .tab-item.tab-item-active{
    border-color: #fff;
}
.button.button-positive{
    background: #ff8c9b;
    border-color: #ff8c9b;
}
.button.button-positive.activated{
    border-color: #ff8c9b;
}
.button.button-positive.activated, .button.button-positive.activate{
    background: #ff8c9b;
}
.bar.bar-stable .title{
    /*color: #fff;*/
}
.bar-stable .button.button-clear{
    /*color: #fff;*/
}
.bar-stable .button{
    /*color: #fff;*/
}
.item{
    border-color: #f1f1f1;
}
a.item{
    /*color: #e2e2e2;*/
}
ion-tabs.tabs-color-active-positive .tab-item.activated, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.tab-item-active{
    color: #ff8c9b;
}
.item-icon-left .icon, .item-icon-right .icon{
    color: #d84c60;
}
.button-bar > .button{
    border: 0;
    background: #fff;
    font-size: 14px;
}
.button-bar .button-positivehover{
    border-bottom: solid 2px #f84b5f;
    color: #f84b5f;
}
.item-divider{
    font-size: 14px;
}
.action-sheet .button{
    font-size: 14px;
}



.home-container{
    max-width: 640px;
    margin: 0 auto;
    background: #fdadb8;
}
.home-container img{
    max-width: 100%;
    width: 100%;
}
.home-card{
    padding-bottom: 10px;
    background: #fff;
}
.member-item span.time{
    position: absolute;
    right: 40px;
    top: 20px;
}
.member-item .index{
    display: inline-block;
    color: #000;
    font-size: 14px;
    width: 20px;
    height: 50px;
    line-height: 50px;
}
.sign-list .sign-item div{
    left: 100px;
}
.sign-item .asso-avatar{
    position: absolute;
}
.member-item img.gift{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 20px;
}
.sign-header{
    background: url(../img/banner.png) no-repeat;
    background-size: 100%;
    text-align: center;
    overflow: hidden;
}
.sign-header span{
    display: block;
    color: #fff;
}
.sign-header span:first-child{
    margin-top: 10px;
}
.sign-header img{
    width: 60px;
    height: 60px;
    margin: 10px 0;
}
.home-send{
    background: url(../img/home_2.png) no-repeat;
    background-size: 100%;
    min-height: 300px;
    overflow: hidden;
}
.lmqd{
    background: #fff;
    position: inherit;
}
.lmqd div{
    width: 98%;
    margin: 0 auto;
    position: relative;
}
.lmqd a{
    width: 49%;
    display: inline-block;
}
.lmqd a:last-child{
    position: absolute;
    right: 0;
}
.home-send div{
    width: 230px;
    margin: 43% auto 0;
    position: relative;
}
.home-send section{
    position: absolute;
    left: 120px;
    top: 0;
}
.home-send section img{
    margin-right: 4px;
}
.home-send a.btn{
    display: block;
    background: #f04357;
    width: 200px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 40px;
    border: solid 1px #fff;
    text-align: center;
    margin: 10px auto 0;
}
.home-send label{
    color: #fff;
    font-size: 16px;
}
.button-code{
    background: #fff;
    border: solid 1px #fc8d96;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 0 15px;
    line-height: 30px;
    color: #fc8d96;
}
.button-tishi{
    border: solid 1px #dadada;
    color: #dadada;
}

.full{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.me-container{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    color: #fff;
}
.me-container span:first-child{
    font-weight: bold;
}
.me-container span:last-child{
    font-size: 12px;
}
.me-container div{
    position: absolute;
    left: 70px;
    top: 10px;
}
.me-list .item{
    margin-bottom: 10px;
    border-top: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;
}
.item h4{
    color: #959595;
    font-size: 14px;
    line-height: 30px;
}
.data-mine p{
    font-size: 12px;
}
.data-mine div{
    border: solid 1px #dcdcdc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #adadad;
    display: inline-block;
    min-width: 20%;
    padding: 10px;
    font-size: 12px;
}
.data-mine div span{
    display: block;
    text-align: center;
}
.data-mine div span:last-child{
    font-weight: bold;
}
.avatar-container{
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}
.avatar-container img, .me-container img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.avatar-container span, .avatar-container label{
    display: block;
    color: #fff;
}
.avatar-container span{
    font-size: 1rem;
}
.avatar-container label{
    font-size: 0.8rem;
}
.user-avatar{
    text-align: center;
    padding: 20px 0 50px;
}
.user-avatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.warn-tip{
    background: #fccfd4;
    color: #fff;
    font-size: 0.8rem;
    margin-left: 20px;
    padding: 0 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.home-send .home-avatar{
    width: 20px;
    height: 20px;
}
.common-link a {
    font-size: 16px;
    display: block;
    text-align: right;
    margin-top: 20px;
}
.send-userinfo p{
    width: 80%;
    margin: 0 auto;
    line-height: 40px;
    font-size: 14px;
    color: #808080;
}
.send-userinfo label{
    width: 35%;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}
.send-userinfo span{
    width: 60%;
    display: inline-block;
}
.receive-header span{
    display: inline-block;
    width: 27%;
    margin-left: 10px;
}
.badgex{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid 1px #aeaeae;
    color: #aeaeae;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    line-height: 30px;
    font-size: 12px;
    margin-left: 10px;
}
.card-item{
    border-top: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;
    background: #fff;
    margin: 8px 0;
    color: #949494;
}
.card-item .header{
    border-bottom: solid 1px #f4f4f4;
    padding: 10px 0;
    position: relative;
}
.card-item .header a{
    color: #ff8c9b;
    text-decoration: none;
}
.card-item .header div, .card-item .footer div{
    display: inline-block;
    width: 70%;
    padding-left: 20px;
}
.card-item .footer div{
    vertical-align: top;
    height: 80px;
    position: relative;
    font-size: 12px;
}
.card-item .footer .username, .card-item .footer .code{
    position: absolute;
    bottom: 0;
}
.card-item .footer .username a{
    color: #ff8c9b;
    text-decoration: none;
    font-size: 13px;
}
.card-item .footer .code{
    right: 20px;
}
.card-item .header label{
    color: #afafaf;
    display: block;
}
.card-item .header button{
    background: #ff4f64;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 24px;
    /*width: 60px;*/
    position: absolute;
    right: 15px;
    top: 6px;
}
.card-item .footer{
    padding: 10px 0;
    overflow: hidden;
}
.footer img.cardimg{
    width: 25%;
    min-height: 80px;
}
.footer .address{
    display: block;
    font-size: 14px;
}
.footer .left{
    width: 25%;
    float: left;
    text-align: center;
}
.footer .right{
    width: 25%;
    float: left;
}
.footer .center{
    width: 45%;
    float: left;
}
.footer .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.footer .right img{
    max-width: 100%;
}
.button-positivehover{
    border-bottom: solid 2px #f84b5f;
}
#card_bg{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 99;
}
#card_bg img{
    max-width: 96%;
    margin: 20% 2%;
}

.user-info-avatar{
  width: 100%;
  text-align: center;
  position: relative;!important;
  margin-top: 20px;
  top: initial;!important;

}

.user-info-list{
  margin-top: 60px;
}

.user-info-avatar .edit-avatar-btn{
  margin-left: -30px;
  min-height: 25px;!important;
  color: #ff8c9b;
  display: inline-block;
  font-size: 32px;
  margin-top: 40px;
}
.user-info-avatar .edit-avatar-btn .activated{
  background: #ff8c9b;!important;
}

.user-info-list .list-right{
  position: absolute;
  right: 50px;
}

.corp-header{
    /*display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;*/
    color: #fff;
    font-size: 12px;
}
.corp-header img.pic{
    width: 20%;
    /*max-height: 65px;*/
    border: solid 1px #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: absolute;
    left: 13px;
    top: 13px;
}
.corp-header .right{
    position: absolute;
    top: 9px;
    left: 30%;
    width: 70%;
}
.corp-header .right span{
    line-height: 36px;
    font-size: 14px;
}

.corp-header .right .button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}
.asso-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.notice{
    margin: 0 auto 10px;
    background: #fff;
    padding: 10px;
    color: #bababa;
    font-size: 12px;
}
.member-item div{
    position: absolute;
    top: 9px;
    left: 80px;
    font-size: 12px;
}
.member-item span{
    font-size: 14px;
    color: #9c9c9c;
}
.member-item label{
    display: block;
    font-size: 12px;
}
i.gender{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
}
i.gender1{
    background: url(../img/baom_1.png);
    background-size: 100%;
}
i.gender0{
    background: url(../img/baom_2.png);
    background-size: 100%;
}
.activity-avatar{

}
.joint .scroll-bar{
  z-index: 0;
}
.joint-tabs .tabs{
  top: 40px;
  background-color: #fff;!important;
  color:#949494;
  border-bottom:5px solid #F5F5F5;
}
.joint-tabs .tabs .active{
  border-color: #d84c60;
  border-width: 3px;
  color:#d84c60;
}
.joint-tabs .tabs .activated{
  border-color: #d84c60;
  color:#d84c60;
}
.joint-tabs .tab-item{
   max-width: none;
}
.joint-list{
  position: relative;
  top: 44px;
}

.joint-list h2{
  white-space: normal;
  font-size: 14px;
}
.joint-list p{
  color: #bababa;
  font-size: 12px;
}
.joint-list p b{
  color:#d84c60;
}
.joint-list .hasCadge{
  right: 0px;
  position: absolute;
  top: 0px;
  max-width: 50px;
}

.joint-list .agree-refuse-btn{
  float: right;
  background: #ef8b99;
  border: 1px solid #ef8b99;
  margin-right: 10px;
  min-width: 45px;
  padding: 0px 10px;
  color: #fff;
}
.joint-list .tip{
    float: right;
    color: #ccc;
}
.joint-list .answer{
    color: #656464;
    white-space: normal;
    font-size: 13px;
}
.joint-list .ion-ios-clock-outline,.ion-navigate,.ion-ios-location-outline{
  color:#d84c60;
}

.joint-list .ion-female{
  color: #ef8b99;
}
.joint-list .ion-male{
  color: #00c8ef;
}


.release-activity .s-label{
  margin-top: 15px;
}
.release-activity .list{
  margin-top: 15px;
  margin-bottom: 0;
}
.release-activity .cadge-list .item{
  padding: 13px 0 12px 16px;
}

.activity-list .item{
    font-size: 14px;
    /*padding: 10px 0;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}
.member-list .item{
    font-size: 14px;
    padding: 10px;
    color: #c4c4c4;
}
.activity-list .item.title{
    color: #000;
}
.activity-list .item-thumbnail-left .item-content>img:first-child{
    max-width: 100px;
    max-height: 70px;
}
.activity-list .item-thumbnail-left .item-content{
    padding-left: 120px;
}
.activity-avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-right: 6px;
}
span.red{
    color: red;
}
h4{
    font-size: 15px;
}
ul.send-tip{
    list-style: disc outside none;
}
.send-tip li{
    list-style: disc outside none;
    margin: 10px 0;
    color: #858585;
}
.user-list .item{
    background: #fff;
    color: #858585;
}
.user-list .icon{
    color: #858585;
}
.corporation-info{
    height: 150px;
    text-align: center;
}
.corporation-info img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
.feedback{
    color: #9f9f9f;
    width: 86%;
    margin: 50px auto;
}
.list-message .item{
    background: #f6f6f6;
}
.list-message .message{
    background: #fff;
    padding: 10px;
    border: solid 1px #f1f1f1;
}
.list-message p{
    white-space: normal;
    border-bottom: solid 1px #f6f6f6;
    padding-bottom: 7px;
}
.list-message div img{
    width: 40px;
    height: 40px;
    position: absolute;
}
.list-message .container img:first-child{
    left: 0;
    top: 10px;
}
.list-message .avatar{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.list-message .container img:last-child{
    right: 0;
    top: 10px;
}
.list-message .container{
    position: relative;
    height: 50px;
    color: #bfbfbf;
}
.list-message .container div{
    position: absolute;
    left: 60px;
    top: 10px;
    font-size: 12px;
}
.list-msg .point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: block;
    background: red;
    right: 20px;
    top: 48%;
}
.list-msg .time{
    font-size: 12px;
    right: 20px;
    top: 15px;
    position: absolute;
}
.list-msg p{
    width: 80%;
}
.tip-message{
    text-align: center;
}
.tip-message img{
    width: 50%;
    margin: 0 auto;
}

.writer-info{
    position: absolute;
    top: 30px;
    left: 10px;
    width: 100%;
}
.writer-info label{
    display: block;
    color: #fff;
}
.writer-info label:first-child{
    font-size: 16px;
}
.writer-item{
    font-size: 12px;
    margin-bottom: 10px;
}
.writer-item img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.writer-item section{
    position: relative;
}
.writer-item section:first-child{
    border-bottom: solid 1px #f7f7f7;
}
.writer-item section:last-child{
    padding: 14px 0 0;
}
.writer-item section:last-child span{
    display: inline-block;
    margin-right: 20px;
}
.writer-item div{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 80px;
    top: 10px;
}
.writer-item div span{
    display: block;
}
.writer-item button{
    background: #e58b97;
    color: #fff;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 10px;
}
.writer-tip{
    background: #fff;
    margin-bottom: 10px;
    position: relative;
    height: 40px;
    line-height: 40px;
}
.writer-tip button{
    position: absolute;
    top: 10px;
    right: 20px;
    background: #e58b97;
    color: #fff;
    font-size: 12px;
    height: 20px;
    border-radius: 5px;
    border: none;
}
.writer-tip b{
    color: #e38b99;
}
.writer-question{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.writer-question h4{
    color: #777777;
    /*border-bottom: solid 1px #f3f3f3;*/
}
.writer-question p{
    color: #bebebe;
}
.about-icon{
    width: 100px;
    margin: 0 auto;
}
.about-list{
    text-align: center;
}
.photos-cont{
    background: #fff;
}
.photos-cont .photos-box{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photos-cont img{
    width: 30%;
    height: 60px;
    margin-top: 10px;
}
.photo-list img{
    max-width: 160px;
}
.photo-list .tip-container{
    font-size: 14px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 30px;
}
.photo-list button{
    position: absolute;
    right: 18px;
    bottom: 18px;
}

.switch-list{
    height: 70px;
    margin: 20px 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;;
}
.switch-list .container{
    position: absolute;
    top: 0;
    left: 90px;
    overflow: hidden;
}
.switch-list a, .switch-list img{
    /*display: inline-block;*/
    height: 70px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.switch-list a{
    margin-right: 10px;
}
.switch-list .title{
    width: 70px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    display: block;
    text-decoration: none;
}

.switch-card-item{
    width: 100%;
    background: #fff;
    margin: 0 auto;
    color: #d2d2d2;
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
}
.switch-card-item div, .switch-card-item p{
    padding-left: 10px;
    padding-right: 10px;
}
.switch-card-item div{
    padding-top: 5px;
    padding-bottom: 5px;
}
.switch-card-item .name{
    font-weight: bolder;
    color: #868686;
}
.switch-card-item .full{
    width: 96%;
    margin: 0 auto;
    display: block;
}
.switch-card-item .address, .switch-card-item p{
    font-size: 12px;
}
.switch-card-item .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.switch-card-item section{
    position: relative;
    padding: 10px;
    border-bottom: solid 1px #f3f3f3;
}
.switch-card-item .end{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 12px;
    text-align: right;
}
.switch-card-item .start{
    position: absolute;
    top: 5px;
    left: 60px;
}
.switch-card-item .button{
    width: 80px;
}
.switch-card-item .buttons{
    border-top: solid 1px #f3f3f3;
    text-align: right;
}
.switch-card-item .middle{
    color: #aeb06e;
}
.switch-card-item .switch{
    text-align: right;
    position: relative;
}
.switch-card-item .switch span{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 15px;
}
.switch-card-item .switch span.address{
    left: 80px;
}

.postdetail{
    background: #fff;
}
.postdetail .full{
    width: 97%;
    display: block;
    margin: 0 auto;
}
.postdetail h5{
    padding-left: 10px;
    color: #afafaf;
}
.ul-theme{
    padding-left: 10px;
}
.ul-theme li{
    display: inline-block;
    border: solid 1px #e1e1e1;
    color: #e1e1e1;
    border-radius: 3px;
    padding: 2px 7px;
    margin-top: 10px;
    margin-right: 10px;
}
.ul-theme .selected{
    color: #fff;
    background: #e7e7e7;
}
.posttext{
    width: 100%;
    margin-top: 20px;
    height: 70px;
    padding: 10px;
}
.post-bottom{
    width: 100%;
}
.postquestion{
    background: #fff;
    margin-top: 20px;
    color: #afafaf;
    padding: 10px 0 10px 10px;
}
.postquestion h4{
    color: #afafaf;
}
.postquestion p{
    font-size: 12px;
}
h4.tip{
    font-weight: normal;
    padding: 20px;
}








